.roadmap {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.roadmap__title {
    margin-bottom: 10%;
    font-size: 34px;
    color: rgb(232, 233, 213);
    font-weight: normal;
    font-style: normal;
    font-family: Arial, sans-serif;
    font-weight: 700;
}

.roadmap__info-block {
    display: flex;
    flex-direction: row;
}

.roadmap__image {
    max-width: 160px;
}

.roadmap__text {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 165px;
    font-family: Arial, sans-serif;
    color: rgb(232, 233, 213);
    font-weight: normal;
    font-style: normal;
    text-align: start;
    display: inline;
    transition: .3s;
}

.roadmap__mobile-text {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 165px;
    font-family: Arial, sans-serif;
    color: rgb(232, 233, 213);
    font-weight: normal;
    font-style: normal;
    text-align: start;
    display: inline;
    transition: .3s;
}

.roadmap__text-button {
    display: none;
}

._disabled {
    display: none;
    transition: .3s;
}

.roadmap__mobile {
    display: none;
}

.roadmap__mobile-header-text {
    font-size: 20px;
}

@media screen and (max-width: 1750px) {
    .roadmap__text {
        font-size: 20px;
        line-height: 24px;
    }
}

@media screen and (max-width: 1400px) {
    .roadmap__text {
        font-size: 17px;
        line-height: 23px;
    }
}

@media screen and (max-width: 1200px) {
    .roadmap {
        width: 80%;
    }

    .roadmap__text-button {
        display: inline;
    }
}

@media screen and (max-width: 800px) {
    .roadmap {
        text-align: left;
        width: 85%;
    }

    .roadmap__title {
        margin-left: 0;
    }

    .roadmap__info-block {
        display: none;
    }

    .roadmap__mobile {
        display: flex;
        flex-direction: column;
    }

    .roadmap__mobile-text {
        font-size: 17px;
        line-height: 23px;
    }
}
