.tokenomics { 
    display: flex;
    flex-direction: column;
    width: 60%;
}

.tokenomics__title {
    font-size: 34px;
    color: rgb(232, 233, 213);
    font-weight: normal;
    font-style: normal;
    font-family: Arial, sans-serif;
    font-weight: 700;
}

.tokenomics__chart {
    width: 100%;
    min-height: 630px;
}

@media screen and (max-width: 1200px) {
    .tokenomics {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .tokenomics {
        width: 85%;
        text-align: left;
    }
}
