.tokenomics { 
    display: flex;
    flex-direction: column;
    width: 60%;
}

.tokenomics__title {
    font-size: 34px;
    color: rgb(232, 233, 213);
    font-weight: normal;
    font-style: normal;
    font-family: Arial, sans-serif;
}

.tokenomics__graph {
    width: 100%;
    height: fit-content;
}
